   * {
      margin: 0;
      padding: 0;
   }

   .container {
      box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
      width: 80%;
      padding: 15px 15px;
      margin: auto;
   }

   .header {
      width: 100%;
      background-color: steelblue;

      overflow: auto;
      display: flex;
      padding: 15px 0px;

      margin-bottom: 1px;
      justify-content:space-between;
   }

   .header h1{
      font-family: 'Courier New', Courier, monospace;
      font-size: 20px;
      border: 1px solid black;
      border-radius: 5px;

      background-color: #e9e9e9;
      margin-left: 10%;
      padding: 15px 10px;

   }

   .header h1 span {
      padding: 5px 5px; 
      color: crimson;
      background-color: black;
   }

   /* Menu Principal do Site - class (ul)*/
   .menu-principal{
      
      padding: 15px 0px;
   
   }
   .menu-principal ul {
      display: flex;
   }
   .menu-principal ul li {
      list-style-type: none;
   }
   .menu-principal ul li a{
      text-decoration: none;
      color: white;

      padding: 5px;
      text-shadow: 1px 1px black;
   }
   .menu-principal ul li a:hover{
      /*color: rgb(54, 107, 251);*/
      background-color: black;
      color: crimson;
   }
   .pesquisar {
      margin-right: 10%;
   }

   .destaques {
      padding: 0px 15px 50px 15px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1;

      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      background-color: #e9e9e9;
   }
   .destaques  h2 {
      text-align: center;
      grid-column: 1/3;
      grid-row: auto;
   }

   .destaques > div{
      clear:both;
   }
   .destaques div p {
      text-align: justify;
      display: inline-block;
      padding-right: 10px;
      line-height: 25px;
      
   }
   .destaques div span{
      font-weight: bold;
   }


   .titulos {
      font-size: 35px;
      font-family: 'Courier New', Courier, monospace;
      
      padding-top: 20px;
      padding-bottom: 20px;

   }

   .lancamentos > div {
      display: flex;
      flex-wrap: wrap;

      align-items: stretch;
      justify-content: space-between;
   }

   .game {
      clear: both;
      flex: 1 200px;
      flex: 200px;
   }
   .game h3{
      display: inline-block;
      float: left;
   }

   .game p:first-child {
      float:right;
   }
