   
   /* Vermelho Usado: #EB1F2A*/
   
   * {
      margin: 0;
      padding: 0;
   }

   .container {
   
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

      width: 80%;
      padding: 15px 15px;
      margin: auto;

      background-color: whitesmoke;
   }

   /* Header do Site */
   .header {   

      background-color: black;
      width: 100%;
      
      padding: 10px 0;
      
      display: flex;
      flex-wrap: wrap;
      
      align-items: center;
      justify-content:space-between;
   }
   
   .logo {
      width: 200px;
      margin-left: 10%;
      margin-bottom: 15px;
      border: 1px solid white;
      /*box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;   }*/
      box-shadow: rgba(235, 31, 41, 0.4) 5px 5px, rgba(235, 31, 41, 0.3) 10px 10px, rgba(235, 31, 41, 0.2) 15px 15px, rgba(235, 31, 41, 0.1) 20px 20px, rgba(235, 31, 41, 0.05) 25px 25px;   }


   .logo img {
      width: 100%;
   }

   .logo h1{
      font-family: 'Courier New', Courier, monospace;
      font-size: 20px;
      text-align: center;
      
      padding-left: 10px;

      background-color: white;     
      color: black;
   }
   /* Menu Principal do Site - class (nav)*/
   nav label {
      display: none;
   }

   #menuToggle {
      display: none;
   }

   .menu-principal {
      display: flex;
   }
   .menu-principal li {
      color: #EB1F2A;
      list-style-type: none;
   }
   .menu-principal li a{
      text-decoration: none;
      font-size: 25px;
      color: white;

      padding: 5px;
      
   }
   .menu-principal li a:hover{
      /*color: rgb(54, 107, 251);*/
      color: #EB1F2A;
      
   }

   .pesquisar {
      display: flex;
      margin-right: 10%;
   }

   .pesquisar img {

      border: 1px solid black;

      width: 60px;
      height: 100%;

      background-color: white;;
   }

   .pesquisar input[type='search']{
      
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 10px;

      background-color: #EB1F2A;
      color: white;

   }

   .titulos{
      font-size: 30px;

      width: 100%;
      margin-bottom: 15px;

      text-shadow: 1px 1px 1px black, 0px 2px 3px #EB1F2A;
   }

   .destaques {
      display: block;
      margin-bottom: 40px;
   
   }
   .destaques h2 {

      font-size: 40px;
      text-align: center;

      text-shadow: 1px 1px 1px black, 0px 2px 3px #EB1F2A;
      margin-bottom: 15px;

   }

   .conteudo-destaque {
      display: flex;
      flex-wrap: wrap;

      justify-content: center;
   }
   .conteudo-destaque h3 {
      padding: 10px;
      font-size: 30px;
   }
   .conteudo-destaque iframe {
      width: 50%;
      min-height: 500px;
   }
   .conteudo-destaque div {

      flex: 2;
      display: flex;
      flex-wrap: wrap;
   
      padding-left: 20px;
      

      justify-content: space-between;
   }
   .conteudo-destaque div p {
      text-align: justify;
      padding: 5px;
   }
   .conteudo-destaque span {
      font-weight: bold;
   }


   .lancamentos {
      display: block;
      width: 80%;
      margin: auto;
      
      padding-bottom: 100px;
   }

   .lancamentos section {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;


      gap: 10px;
      
   }

   .game {      
      width: calc(100% / 4 - 10px);
      clear: both;
   }
   .game iframe {
      width: 100%;   
      height: auto;
   }
   .game h3 {
      display: inline-block;
      font-size: 20px;
      font-weight: bold;

   }
   .game p:first-of-type {
      
      float: right;

      font-weight: bold;
      font-size: 20px;
   }
   
   .plataformas {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      padding-bottom: 70px;
      
      width: 80%;
      margin: auto;
   }

   .card {
      font-weight: bold;
   }
   
   .card h3{
      padding-top: 10px;
      padding-bottom: 10px;
   }

   .card img {
      width: 300px;
      height: 350px;
   }

   .card ul{
      list-style-type: square;
      padding: 1px;
      margin-left: 25px;
   }

   .card p:last-child {
      text-align: right;
   }

   .publishers {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      padding-bottom: 70px;
      
      width: 80%;
      margin: auto;
   }

   .informacoes-rodape {
      display: flex;
      flex-wrap: wrap;

      width: 80%;
      margin: auto;


   }

   .informacoes-rodape section:first-child {
      flex: 2;
   }
   .informacoes-rodape section:first-child p {
      padding: 15px;
      text-align: justify;
   }
   .informacoes-rodape section:last-child p{
      padding: 10px 0;
   }
   .informacoes-rodape img {
      width: 25px;
   }

   .informacoes-rodape span{
      font-weight: bold;
   }

   /*Início do Footer*/
   .footer {

      width: 100%;

      background-color: black;
      color:white; 
   }

   .footer p {
      font-family: 'Courier New', Courier, monospace;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      padding: 5px 0;
   }

   .footer span {
      color:#EB1F2A;
      font-weight: bold;
   }
   

   /* Site "Responsivo" */
   @media screen and (max-width: 1200px){
      .header {
         display: block;
      }
      .logo {
         width: 150px;
         margin: auto;
      }
      .logo h1 {
         display: none;
      }

      .menu-principal{
         display: none;
      }

      nav label {
         display: block;
         background-color: #EB1F2A;
         margin: 40px auto 20px auto;

         width: 50px;
      }

      nav label img {
         width: 100%;
      }

      #menuToggle:not(checked) ~ ul{
         display: none;
      }
      #menuToggle:checked ~ ul {         
         display: block;
         width: 80%;

         margin: 20px auto;
         
      }
 
      .pesquisar input {
         width: 100%;
      }

      .pesquisar {
         display: flex;

         overflow: auto;
         width: 80%;
         margin: 10px auto 15px auto;
      }

      .conteudo-destaque {
         display: block;
      }
      .conteudo-destaque iframe{
         width: 100%;
      }
   
   
      .game {
         width: 100%;
      }
      
      .game iframe {
         height: 350px;
      }      

      .lancamentos section {
         justify-content: center;
      }
      
      .card {
         display: block;
         margin: auto;
         
      }      

   }


   