   
   /* Vermelho Usado: #EB1F2A*/
   
   * {
      margin: 0;
      padding: 0;
   }

   .container {
      box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
      width: 80%;
      padding: 15px 15px;
      margin: auto;
   }


   /* Header do Site */
   .header {
      width: 100%;
      background-color: black;

      overflow: auto;
      display: flex;
      flex-wrap: wrap;
      
      align-items: center;
      justify-content:space-between;
   }
   
   .logo {
      width: 200px;
      margin-left: 10%;

      margin-bottom: 15px;
      border: 1px solid white;
      /*box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;   }*/
      box-shadow: rgba(235, 31, 41, 0.4) 5px 5px, rgba(235, 31, 41, 0.3) 10px 10px, rgba(235, 31, 41, 0.2) 15px 15px, rgba(235, 31, 41, 0.1) 20px 20px, rgba(235, 31, 41, 0.05) 25px 25px;   }

   .logo img {
      width: 100%;
   }
   .logo h1{
      font-family: 'Courier New', Courier, monospace;
      font-size: 20px;
      text-align: center;
      
      padding-left: 10px;

      background-color: white;     
      color: black;
   }

   .header div:not(:first-of-type) {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   /* Menu Principal do Site - class (nav)*/
   .menu-principal{
      padding: 15px 0px;
   }
   .menu-principal ul {
      display: flex;
   }
   .menu-principal ul li {
      color: #EB1F2A;
      list-style-type: none;
   }
   .menu-principal ul li a{
      text-decoration: none;
      font-size: 25px;
      color: white;

      padding: 5px;
      
   }
   .menu-principal ul li a:hover{
      /*color: rgb(54, 107, 251);*/
      color: #EB1F2A;
      
   }
   .pesquisar {
      width: 350px;     
      margin-right: 10%;  
   }

   .pesquisar img {

      display: flex;
      border: 1px solid black;

      width: 60px;
      height: 100%;

      background-color: white;;
   }

   .pesquisar input[type='search']{
   
      width: 100%;

      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 10px;


      background-color: #EB1F2A;
      color: white;

   }

   /* Fim Header */

   .destaques {
      padding: 0px 15px 50px 15px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1;

      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      background-color: #e9e9e9;
   }
   .destaques  h2 {
      text-align: center;
      grid-column: 1/3;
      grid-row: auto;
   }

   .destaques > div{
      clear:both;
   }
   .destaques div p {
      text-align: justify;
      display: inline-block;
      padding-right: 10px;
      line-height: 25px;
      
   }
   .destaques div span{
      font-weight: bold;
   }


   .titulos {
      font-size: 35px;
      font-family: 'Courier New', Courier, monospace;
      
      padding-top: 20px;
      padding-bottom: 20px;

   }

   .lancamentos > div {
      display: flex;
      flex-wrap: wrap;

      align-items: stretch;
      justify-content: space-between;
   }

   .game {
      clear: both;
      flex: 1 200px;
      flex: 200px;
   }
   .game p:first-child {
      float:right;
   }
